@{
    ViewData["Title"] = "About My Hobbies";
}

<img class="welcomeImg" src="~/lib/rockstar.webp" />
<h1 class="display-4">Music</h1>
<p class="hobby">I love playing rock and roll music. There's something freeing about turning an amp up to full distortion and strumming a powerchord as loud as you can possibly imagine. There's energy. There's story telling. There's raw emotion. I think that regardless of music genre or style, playing instruments or singing is an expression of the soul, and every person has a story to tell! So rock on!</p>
<p class="hobby">I play both the guitar and the piano. In some ways, I think the guitar is a little more expressive, because you can bend the notes and manipulate the sound a little more. However, the piano then expands your capabilities to playing synthesizers, of which have any sound imaginable that you can assign to the keys. There are different instruments for different moments, and it is beautiful to explore which instrument is up to the task.</p>